@import 'tailwindcss';

@theme {
  --color-color-50:var(--color-50);
  --color-compl-50:var(--compl-50);
  --color-color-100:var(--color-100);
  --color-compl-100:var(--compl-100);
  --color-color-200:var(--color-200);
  --color-compl-200:var(--compl-200);
  --color-color-300:var(--color-300);
  --color-compl-300:var(--compl-300);
  --color-color-400:var(--color-400);
  --color-compl-400:var(--compl-400);
  --color-color-500:var(--color-500);
  --color-compl-500:var(--compl-500);
  --color-color-600:var(--color-600);
  --color-compl-600:var(--compl-600);
  --color-color-700:var(--color-700);
  --color-compl-700:var(--compl-700);
  --color-color-800:var(--color-800);
  --color-compl-800:var(--compl-800);
  --color-color-900:var(--color-900);
  --color-compl-900:var(--compl-900);
  --color-color-950:var(--color-950);
  --color-compl-950:var(--compl-950);
}